<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Ethics for Overlords</h1>
    <p class="lead text-muted">
      The goal of "Ethics for Overlords" is to provide short, little <strong>lessions in ethics</strong> for <strong>Overlords</strong>,
      e.g. supreme beings, otherworldly powers or simply human beings that want to do the right things for the right reasons.
    </p>
    <p class="lead text-muted">
      In case you are an <strong>Overlord</strong>, check out the stuff below!
      <br />
      (In case you are a minion, please visit <%= link_to "Ethics for Minions", "https://www.lernkurs.philosophie.ch/" %>)
    </p>
  </div>
</section>
